html {
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    max-width: 850px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    display: grid;
    grid-template: repeat(4,auto) / repeat(auto,1fr);
    grid-template-areas: 
    "head"
    "navi"
    "main"
    "foot";
}
main section {
    padding-left: 4.16%;
    padding-right: 4.16%;
    padding-bottom: 20px;
}
main aside {
    padding-left: 4.16%;
    padding-bottom: 20px;
    float: right;
}
a:hover {
    font-style: italic;
}
a:focus {
    font-style: italic;
}
/* header */
header {
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    grid-area: head;
    display: grid;
    grid-template: auto auto / auto 1fr;
    grid-template-areas: 
    "logo heading-top"
    "logo heading-bottom";
}
header img {
    grid-area: logo;
    max-width: 80px;
    min-width: 40px;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
header h2 {
    font-size: 170%;
    color: #800000;
    margin: 0px;
    grid-area: heading-top;
}
header h3 {
    font-size: 130%;
    font-style: italic;
    margin: 0px;
    grid-area: heading-bottom;
}
header em {
    text-shadow: 2px 2px 5px #800000 ;
}

#nav_menu{
    grid-area: navi;
}
#nav_menu ul {
    margin: 0;
	padding: 0;
	list-style: none;
    position: relative;    
    display: grid;
    grid-template: auto / repeat(5,1fr);   
}
#nav_menu ul li ul {
	display: none;       
    padding: 0;    
}
#nav_menu ul li ul li {
	float: none;           
    position: relative;    
}
#nav_menu ul li ul li ul{
	position: absolute;
	left: 100%;             
    top: 0;    
    width: 20%;         
}
#nav_menu ul li.lastitem ul li ul{
	position: absolute;
	left: -100%;           
	top: 0;               
}
#nav_menu ul li:hover > ul {
    display: block;  
    position: absolute;
    width: 20%;
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#nav_menu ul li a {
	text-align: center;
    display: block;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu ul li a.current {
	color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: gray;
   
}

main h2, main h3, main img, main p, main blockquote, main ul, main li {
    margin: 0px;
}

main{

    grid-area: main;
    display: grid;
    grid-template: auto / 30% 1fr;
    gap: 2%;
    grid-template-areas: "side sec";
}
aside{
    grid-area: side;
}
aside h2 {
    font-size: 100%;
    padding: .5em;
    white-space: nowrap;
}
aside  #aside_1 {
    font-size: 130%;
    color:#800000;
    padding: 10px 0px;
}
aside img {
    padding-bottom: 1em;
}
aside a{
    color: blue;
}

section{
    grid-area: sec;
}
section h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0px;
}
section article {
    padding: .5em 0;
}
section h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
}
footer {
    background-color: #931420;
    grid-area: foot;
}
footer p {
    text-align: center;
    color: white;
    padding-bottom: 1.15em;
    padding-top: 1em;
    margin: 0px;
}
#mobile_menu {
    background-color: #800000;
    display: none;
}

@media only screen and (max-width: 767px) {
    header{
        padding-bottom: 1.5em;
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        gap: 0.3em;
        justify-items: center;
        grid-template-areas: "logo" "heading-top" "heading-bottom";
    }
    header img {                 
        float: none;
        display: block;
        margin: 0 auto;
    }
    header h2, header h3 {
        text-align: center;
    }
    main{
        margin: 0;
        grid-template: auto auto / 1fr;
        gap: 0;
        grid-template-areas:
          "sec"
          "side";
    }
    main section {              
        float: none;
        width: 91.68%;
    }
    main section h2,p,blockquote{
       display: block;
       grid-area: navi;
    }
    main aside {                    
        float: none;
        width: 95.84%;
        padding-right: 4.16%;
    }   
    section article img {
        max-width: 30%;
    }
    #nav_menu {             
        display: none;
    }
    #mobile_menu {
        display: block;
        grid-area: navi;
    }
    .slicknav_menu {
        background-color:#800000 !important;
    }
}

@media only screen and (max-width: 479px) { 
    body {
        font-size: 90%;
    }
    section article figure{
        width: 100%;
        float: none;
    }
    #nav_menu {             
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color:#cbe923 !important;
    }
}

section h1{
    color: #800000;
}
fieldset{
    margin-bottom: 10px;
}
legend{
    color: black;
    font-weight: bold;
}
label{
    float: left;
    width: 10em;
    text-align: right;
}
input{
    margin-bottom: 7px;
    margin-left: 2em;
    width: 15em;
}
select{
    margin-bottom: 7px;
    margin-left: 2em;
    width: 15.6em;
}
label[for=billme]{
    width: 5em;
}
label[for=creditcard]{
    width: 7em;
}
#billme, #creditcard{
    width: 2em;
    float: left;
    margin-right: -2em;
    margin-left: 5.5em;
}
#month{
    width: 7em;
}
#year{
    width: 5em;
}
#submit{
    width: 9em;
    margin-left: 14em; 
}
#reset{
    width: 9em;
    margin-left: 1em;
}