html{
    background-color: white;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 2em auto;
    width: 600px;
    border: 3px solid #931420;
    background-color: #fffded;
   
}

header{
    border-bottom: 4px solid black;
    padding-top: 1.5em ;
    padding-bottom: 2em;
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 1em;
}
header h2 {
    font-size: 170%;
    color: #800000;
    
}
header h3{
    font-size: 130%;
    font-style:  italic;
   
}
.shadow{
    color: #800000;
    text-shadow: 1px 2px;
}
main{ clear: both;}
main{
    padding-left: 30px;
    padding-right: 30px;
}
main h1{
    font-size: 150%; 
    border-bottom: 3px solid black;
    border-top: 3px solid black ;
    padding-top: 3px;
    padding-bottom: 3px;
}

main h2{
    font-size: 130%;
    color: #800000;
    padding-top: 5px;
    /* padding-bottom: 25px; */
}
main h3{
    font-size: 105%;
    padding-bottom: 25px;
}
main ul{
    padding-left: 1em;
}
main p {
    padding-bottom: 5ems;
}
main blockquote{
    padding-right: 2em;
    padding-left: 2em;
}
/* main ul{
    padding-bottom: 25em;
    padding-left: 1.25em;
}
main li{
    padding-bottom: 35em;
} */
footer p{
    font-size: 80%;
    text-align: center;
    background-color: #931420;
    color: white;
    margin: 0em;
    padding: 1em;
}
